<div class="container">
      <div class="jumbotron center">
        <h1> About </h1>

        <p class="lead">Open Cinema is an award-winning network of community cinemas across the UK and Ireland. WE've secured seed investment to build a prototype digital platform to take cinema into the 21st century. We're initially building an app for our member venues to be able to build film seasons from our database of films, then print/upload/publish/distribute the season posters.</p>
      </div>
</div>
